@import "../../scss/common.scss";

$calculator-border-radius: 5px;
$secondary-color: #f7f7f7;
$input-font-size: 2.6rem;
$output-font-size: 1.4rem;
$input-margin: 1.8rem;
$calculator-width: $btn-secondary-extent * 4 + $btn-primary-extent;


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #6a3093, #a044ff);
    font-family: 'Work Sans', sans-serif;
}

main {
    width: $calculator-width;
    box-shadow: 0 10px 28px $primary-color;
    border-radius: $calculator-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 0;
}

.screen {
    flex-grow: 1;
    background: $hover-color;
    border-radius: $calculator-border-radius $calculator-border-radius 0 0;
    border-bottom: 2px groove $hover-color;
}

.output {
    text-align: right;
    color: $accent-text-color;
    margin: 0 $input-margin $input-margin;
    font-size: $output-font-size;
    height: $output-font-size;
    overflow: hidden;
}

.input-wrapper {
    height: $input-font-size;
    max-width: 100%;
    border: none;
    text-align: right;
    outline: none;
    color: $primary-color;
    margin: $input-margin;
    font-size: $input-font-size;
    overflow: hidden;
    position: relative;
}

.input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 100%;
    white-space: nowrap;
}

.buttons {
    border-radius: 0 0 $calculator-border-radius $calculator-border-radius;
    background: $secondary-color;
    overflow: hidden;
}
