* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
}

main {
    /*border: 2px solid #47476b;*/
    //background: linear-gradient(135deg, #fcaf3b, #f25c2a);
    box-shadow: 0 10px 28px rgba(0, 105, 119, 0.8);
    border-radius: 15px;
    width: 280px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 100;
}

.screen {
    flex-grow: 1;
    background: white;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 3px rgba(8, 0, 230, 0.8);
    z-index: 100;
}

.output {
    height: 50%;
    text-align: right;
    color: #7f7f7f;
    padding: 12px;
    padding-top: 0;
    font-size: 28px;
    font-weight: 300;
    overflow: hidden;
}

.input {
    height: 50%;
    max-width: 100%;
    border: none;
    text-align: right;
    outline: none;
    color: #5e5e5e;
    margin-top: 5px;
    padding: 12px;
    padding-bottom: 0;
    font-size: 40px;
    overflow: hidden;
}
.buttons {
    border-radius: 0 0 15px 15px;
    background: white;
}

button {
    border: none;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    background: none;
    //border-radius: 50%
}

.button:disabled {
    cursor: auto;
}

/*button:not(:disabled):hover {*/
     /*color: black;*/
     /*z-index: 3;*/
 /*}*/

.button.primary {
    width: 70px;
    height: 70px;
}


.button.secondary {
    height: 52.5px;
    width: 52.5px;
    font-size: 20px;
    //border-radius: 50%;
    color: blue;
}

.right-panel {
    /* display: inline-block; */
    font-size: 24px;
    width: 70px;
    height: 70px;
    border-left: 1px solid black;
    /* border-top: none;
    border-bottom: none;
    padding: 0;
    margin: 0; */
}




/*button:hover,*/
/*button:focus {*/
    /*background: #535353*/

/*}*/




/*.input {*/
    /*min-height: 1em;*/
    /*color: white;*/
/*}*/
